#homebtn {
    background-color: #000000; 
    color: white;
    border: none;
    padding: 10px 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

#homebtn:hover {
    background-color: #000000;
    transform: scale(1.05);
}

#homebtn:active {
    transform: scale(0.97);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
