.popup {
    border: 2px solid #000000;
    background-color: #ff00f2;
    width: 330px;
    text-align: center;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1000;
    /* forward positioning */
}

.popup.visible{
    animation: fadeIn 0.5s ease-in-out;
    opacity: 1;
}

.popup img {
    width: 150px;
    height: 150px;
}

#xbtn {
    background-color: red;
}

.xcontainer {
    display: flex;
    justify-content: flex-end;
}

#hot button {
    display: flex;
    align-items: right;
}

#hot {
    padding: 1px;
    border: 2px solid linear-gradient(#00ffd5, #3748ff);
    background: linear-gradient(#00ffd5, #3748ff);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#chatNow {
    background-color: bisque;
    color: red;
    font-size: 100%;
    font-family: fantasy;
}

#chat {
    color: blue;
    font-family: cursive;
}

#chatimg {
    display: flex;
}

.imgrow {
    display: flex;
    justify-content: center; 
    gap: 10px;
}

#distancetext {
    border: 2px solid rgb(255, 0, 0);
    background-color: #ff0000;
    color: rgb(69, 97, 255);
    box-shadow:
      0 0 7px #ff0000,
      0 0 10px #ff1818,
      0 0 21px #ff3636,
      0 0 42px rgb(255, 79, 79),
      0 0 82px rgb(255, 95, 95),
      0 0 92px rgb(255, 120, 120),
      0 0 102px rgb(255, 128, 128),
      0 0 151px rgb(255, 187, 187);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}